<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title"><strong><%= t "favorite_majors" %></strong></h4>
    </div>
    <div class="modal-body">
      <div class="block">
        <div class="row">
          <% if @majors.present? %>
            <div class="table-responsive">
              <table class="table table-vcenter table-striped">
                <thead>
                  <tr>
                    <td><%= t "code" %></td>
                    <td><%= t "name" %></td>
                    <td><%= t "school" %></td>
                  </tr>
                </thead>
                <tbody>
                  <%= render partial: "registers/major", collection: @majors, as: :major %>
                </tbody>
              </table>
            </div>
          <% else %>
            <p class="text-center text-danger">
              <i class="fa fa-times"></i> <%= t "not_major_favorite" %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
