<tr id="register-<%= register.id %>">
  <td><%= register.aspiration %></td>
  <td><%= register.major.name %></td>
  <td><%= register.major.school.name %></td>
  <td><%= register.department.name %></td>
  <td><%= register.mark %></td>
  <td class="text-center">
    <div class="btn-group btn-group-xs">
      <%= link_to register_path(register), method: :delete, remote: true,
        data: {confirm: t("sure")}, class: "btn btn-danger btn-xs" do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  </td>
</tr>
