<div class="row d-flex">
  <%= render "notes_remarking" %>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="block">
      <% if allow_change_in_time?(@note) && !current_user.is_changed_register? %>
        <div id="change-aspiration">
          <div class="row">
            <%= render @registers %>
          </div>
          <div class="row">
            <div class="col-md-2 col-md-offset-5">
              <%= link_to t("suggestions"), "javascript:void(0)", class: "btn btn-primary btn-md col-md-12 m-b-20", id: "btn-change-aspiration" %>
            </div>
          </div>
        </div>

        <div id="suggestions" class="display-none"></div>

      <% elsif current_user.is_changed_register? %>
        <div class="row">
          <div class="col-md-12">
            <p class="text-center text-danger">
              <i class="fa fa-times"></i>
              <strong><%= t "one_changed_register" %></strong>
            </p>
          </div>
        </div>

      <% else %>
        <div class="row">
          <div class="col-md-12">
            <p class="text-center text-danger">
              <i class="fa fa-times"></i>
              <strong><%= t "not_time_change_register" %></strong>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
<%= hidden_field_tag :major_registed_ids, get_major_registed_id(@registers) %>
<%= javascript_include_tag "change_aspiration" %>
