<div id="login-ajax" class="animation-fadeIn">
  <div class="login-title text-center color-title-login">
    <h1>
      <i class="fa fa-flash"></i>
      <strong><%= t "app" %></strong><br>
      <small>
        <%= t "change" %>
        <strong><%= t "password" %></strong>
      </small>
    </h1>
  </div>
  <div class="block push-bit">
    <%= simple_form_for resource,as: resource_name, url: registration_path(resource_name),
      html:{method: :patch, class: "form-horizontal form-bordered form-control-borderless form-login"} do |f| %>

      <div class="center-block m-5">
        <%= f.error_notification %>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            <%= f.password_field :password, autofocus: true, class: "form-control input-lg",
              placeholder: t("password_new") %>
          </div>
          <%= f.full_error :password %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            <%= f.password_field :password_confirmation, class: "form-control input-lg",
              placeholder: t("password_confirmation") %>
          </div>
          <%= f.full_error :password_confirmation %>
        </div>
      </div>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            <%= f.password_field :current_password, class: "form-control input-lg",
              placeholder: t("current_password") %>
          </div>
          <%= f.full_error :current_password %>
        </div>
      </div>

      <div class="form-group ">
        <div class="row">
          <div class="col-xs-12">
            <center>
              <%= f.button :submit, class: "btn btn-sm btn-primary" %>
            </center>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= javascript_include_tag "validates/change_pass" %>
