<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title pull-left m-l-10"><strong><%= t "new_remarking" %></strong></h4>
    </div>
    <div class="modal-body">
      <%= simple_form_for @remarking, remote: true do |f| %>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-12">
              <label class="control-label" for="school_id">
                <abbr title="required">*</abbr> <%= t "school" %>
              </label>
              <%= f.input :school_id, as: :select, collection: @schools, label: false  %>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <%= f.input :content, as: :ckeditor, input_html: {rows: 10, cols: 30} %>
            </div>
          </div>
        </div>
        <%= f.hidden_field :result_id, value: @remarking.result_id %>
        <center>
          <%= f.button :submit, class: "btn btn-primary btn-md" %>
        </center>
      <% end %>
    </div>
  </div>
</div>
