<div class="col-sm-6 col-lg-4">
  <% if result.remarkings.any? %>
    <%= link_to "javascript:void(0)", class: "widget widget-hover-effect1 disable-link" do %>
      <div class="widget-simple theme-background-gray-light">
        <div class="widget-icon pull-left themed-background-amethyst animation-fadeIn">
          <%= result.mark %>
        </div>
        <h3 class="widget-content text-right animation-pullDown">
          <strong><%= result.subject_name %></strong><br>
          <small><%= t "sent_remarking" %></small>
        </h3>
      </div>
    <% end %>
  <% else %>
    <%= link_to new_remarking_path(result_id: result.id), remote: true, id: "result-#{result.id}",
      class: "widget widget-hover-effect1" do %>
      <div class="widget-simple theme-background-gray-light">
        <div class="widget-icon pull-left themed-background-amethyst animation-fadeIn">
          <%= result.mark %>
        </div>
        <h3 class="widget-content text-right animation-pullDown">
          <strong><%= result.subject_name %></strong><br>
          <small id="text-remaring-<%= result.id %>"><%= t "click_to_remarking" %></small>
        </h3>
      </div>
    <% end %>
  <% end %>
</div>
