<div id="login-container" class="animation-fadeIn">
  <div class="login-title text-center color-title-login">
    <h1>
      <i class="fa fa-flash"></i>
      <strong><%= t "app" %></strong><br>
      <small>
        <strong><%= t "resend_unlock" %></strong>
        <%= t "instructions" %>
      </small>
    </h1>
  </div>
  <div class="block push-bit">
    <%= simple_form_for resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post,
      class: "form-horizontal form-bordered form-control-borderless"} do |f| %>
      <%= f.error_notification %>
      <div class="form-group">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <%= f.email_field :email, autofocus: true, class: "form-control input-lg",
              placeholder: t("email"), id: "login-email" %>
          </div>
          <%= f.full_error :email %>
        </div>
      </div>

      <div class="form-group">
        <div class="row">
          <div class="col-xs-12">
            <center>
              <%= f.button :submit, t("resend_unlock_instructions"), class: "btn btn-primary" %>
            </center>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <center>
        <%= render "devise/shared/links" %>
      </center>
    </div>
  </div>
</div>
