<div class="modal-dialog modal-lg">
  <div class="modal-content">
    <div class="modal-header">
      <% unless @major.new_record? %>
        <%= image_tag @major.picture, class: "img-circle pull-left", size: 40 %>
      <% end %>
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title pull-left m-l-10"><strong><%= t "new_major" %></strong></h4>
    </div>
    <div class="modal-body">
      <%= simple_form_for [:teachers, @major], remote: true do |f| %>
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <%= f.input :name %>
            </div>
            <div class="col-md-6">
              <%= f.input :code %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <%= f.input :picture, as: :file, input_html: {class: "btn btn-warning", accept: "image/jpeg,image/gif,image/png"} %>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12">
              <%= f.input :introducing, as: :ckeditor, input_html: {rows: 10, cols: 30} %>
            </div>
          </div>
        </div>
        <center>
          <%= f.button :submit, class: "btn btn-primary btn-md" %>
        </center>
      <% end %>
    </div>
  </div>
</div>
