<tr role="row" class="major-<%= major.id %>">
  <td class="text-center">
    <%= image_tag major.picture_url, class: "img-circle", size: 50 %>
  </td>
  <td class="text-center"><%= major.code %></td>
  <td class="text-center"><%= major.name %></td>
  <td class="text-center"><%= major.school_name %></td>
  <td class="text-center">
    <div class="btn-group btn-group-xs">
      <%= link_to teachers_major_path(major), remote: true, class: "btn btn-default btn-xs" do %>
        <i class="fa fa-eye"></i>
      <% end %>

      <%= link_to edit_teachers_major_path(major), remote: true, class: "btn btn-warning btn-xs" do %>
        <i class="fa fa-pencil"></i>
      <% end %>

      <%= link_to teachers_major_path(major), method: :delete, remote: true, class: "btn btn-danger btn-xs" do %>
        <i class="fa fa-trash"></i>
      <% end %>
    </div>
  </td>
</tr>
