<tr role="row" class="note-<%= note.id %>">
  <td class="text-center">
    <%= show_style_note note.style %>
  </td>
  <td class="text-center">
    <%= l note.start_time, format: :long %>
  </td>
  <td class="text-center">
    <%= l note.end_time, format: :long %>
  </td>
  <td class="text-center">
    <div class="btn-group">
      <%= link_to edit_admins_note_path(note), remote: true, class: "btn btn-warning btn-xs" do %>
        <i class="fa fa-pencil"></i>
      <% end %>
      <%= link_to admins_note_path(note), method: :delete, remote: true,
        class: "btn btn-danger btn-xs", data: {confirm: t("sure")} do %>
        <i class="fa fa-times"></i>
      <% end %>
    </div>
  </td>
</tr>
