<div class="row">
  <div class="col-md-12">
    <div class="block full">
      <div class="block-title">
        <div class="block-options pull-right">
          <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default">
            <i class="fa fa-briefcase"></i>
          </a>
        </div>
        <h3 class="widget-content-light"><%= t "all" %> <strong><%= t "user" %></strong></h3>
      </div>
      <div class="dataTables_wrapper form-inline no-footer">
        <div class="row">
          <div class="col-md-12">
            <div class="col-md-10 form-search-major">

            </div>
            <div class="col-md-2">
              <%= link_to "javascript:void(0)", class: "btn btn-sm btn-info m-left-50",
                data: {toggle: "modal", target: "#add-student"} do %>
                <i class="fa fa-plus"></i>
                <%= t "student" %>
              <% end %>
            </div>
          </div>
        </div>

        <div id="table-user">
          <%= render "table_student" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="add-student" role="dialog" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-modal">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"><strong><%= t "add_student" %></strong></h4>
      </div>
      <div class="modal-body">
        <div class="row" id="show">
          <%= render "import_students.html.erb" %>
        </div>

        <div class="row display-none" id="hide">
          <%= render "add_student_manual" %>
        </div>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "show_hide" %>
