<tr role="row" class="major-<%= major.id %>">
  <td class="text-center"><%= major.code %></td>
  <td class="text-center"><%= major.name %></td>
  <td class="text-center"><%= major.school_name %></td>
  <td class="text-center">
    <%= link_to major_path(major), remote: true, class: "btn btn-default btn-xs" do %>
      <i class="fa fa-eye"></i>
    <% end %>
  </td>
</tr>
