<tr role="row" class="major-<%= major.id %>">
  <td class="text-center"><%= major.code %></td>
  <td class="text-center"><%= major.name %></td>
  <td class="text-center"><%= major.school_name %></td>
  <td class="text-center" id="action_btn_<%= major.id %>">
    <%= render partial: "majors/action_major", locals: {major: major} %>
  </td>
</tr>
