<div class="col-sm-6 col-lg-3">
  <a href="javascript:void(0)" class="widget widget-hover-effect2">
    <div class="widget-extra themed-background-dark">
      <h4 class="widget-content-light"><strong>Total</strong> Majors</h4>
    </div>
    <div class="widget-extra-full">
      <span class="h2 animation-expandOpen"><%= Major.all.size %></span>
    </div>
  </a>
</div>

<div class="col-sm-6 col-lg-3">
  <a href="javascript:void(0)" class="widget widget-hover-effect2">
    <div class="widget-extra themed-background">
      <h4 class="widget-content-light"><strong>Total</strong> Schools</h4>
    </div>
    <div class="widget-extra-full">
      <span class="h2 animation-expandOpen"><%= School.all.size %></span>
    </div>
  </a>
</div>

<div class="col-sm-6 col-lg-3">
  <a href="javascript:void(0)" class="widget widget-hover-effect2">
    <div class="widget-extra themed-background-spring">
      <h4 class="widget-content-light"><strong>Top</strong> Majors</h4>
    </div>
    <div class="widget-extra-full">
      <span class="h2 animation-expandOpen text-success"><%= @top_target.major_code %> / <%= @top_target.benchmark %></span>
    </div>
  </a>
</div>

<div class="col-sm-6 col-lg-3">
  <a href="javascript:void(0)" class="widget widget-hover-effect2">
    <div class="widget-extra themed-background-fancy">
      <h4 class="widget-content-light"><strong>Hot</strong> Majors</h4>
    </div>
    <div class="widget-extra-full">
      <span class="h2 animation-expandOpen text-danger"><%= @hot_major.code %> / <%= @hot_major.num %></span>
    </div>
  </a>
</div>
