<div class="row text-center">
  <%= render "statistic_majors" %>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="block full">
      <div class="block-title">
        <div class="block-options pull-right">
          <%= link_to favorites_path(), remote: true, class: "btn btn-alt btn-sm btn-danger", title: t("has_mark") do %>
            <i class="fa fa-heart"></i>
          <% end %>
        </div>
        <h3 class="widget-content-light"><%= t "individual" %> <strong><%= t "result" %></strong></h3>
      </div>
      <div class="table-responsive">
        <div class="dataTables_wrapper form-inline no-footer">
          <div class="row">
            <div class="col-md-12">
              <div class="col-md-10 form-search-major">
                <%= render "search_major" %>
              </div>
              <div class="col-md-2">

              </div>
            </div>
          </div>
          <%= render "table_major" %>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="major-detail" role="dialog" tabindex="-1" aria-hidden="true">
</div>
