<%= stylesheet_link_tag "notification" %>
<header class="navbar navbar-default">
  <ul class="nav navbar-nav-custom">
    <li>
      <%= link_to "javascript:void(0)", onclick: "App.sidebar('toggle-sidebar');" do %>
        <i class="fa fa-bars fa-fw"></i>
      <% end %>
    </li>
    <%= render "layouts/settings_page" %>
  </ul>
  <form action="page_ready_search_results.html" method="post" class="navbar-form-custom" role="search">
    <div class="form-group">
      <input type="text" id="top-search" name="top-search" class="form-control" placeholder="<%= t "search" %>">
    </div>
  </form>
  <ul class="nav navbar-nav-custom pull-right">
    <li class="dropdown">
      <%= render "notifications/notifications" %>
    </li>
    <li class="dropdown">
      <%= link_to "javascript:void(0)", class: "dropdown-toggle", data: { toggle: "dropdown"} do %>
        <%= image_tag current_user.avatar.url %>
        <i class="fa fa-angle-down"></i>
      <% end %>
      <ul class="dropdown-menu dropdown-custom dropdown-menu-right">
        <li class="dropdown-header text-center"><%= t ".account" %></li>
        <li>
          <%= link_to "javascript:void(0)", class: "col-do" do %>
            <i class="fa fa-envelope-o fa-fw pull-right"></i>
            <span class="badge pull-right">5</span>
            <%= t "messages" %>
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to user_url current_user do %>
            <i class="fa fa-user fa-fw pull-right"></i>
            <%= t "profile" %>
          <% end %>

          <%= link_to "javascript:void(0)", class: "col-do" do %>
            <i class="fa fa-cog fa-fw pull-right"></i>
            <%= t "settings" %>
          <% end %>
        </li>
        <li class="divider"></li>
        <li>
          <%= link_to "javascript:void(0)", class: "col-do" do %>
            <i class="fa fa-lock fa-fw pull-right"></i>
            <%= t "lock_account" %>
          <% end %>

          <%= link_to destroy_user_session_path, method: :delete, class: "col-do" do %>
            <i class="fa fa-ban fa-fw pull-right"></i>
            <%= t "logout" %>
          <% end %>
        </li>
      </ul>
    </li>
  </ul>
</header>
