<div id="sidebar">
  <div id="sidebar-scroll">
    <div class="sidebar-content">
      <%= link_to "#", class: "sidebar-brand" do %>
         <%= image_tag "logo.ico", size: Settings.logo.size %>
        <span class="sidebar-nav-mini-hide"><strong><%= t "teacher" %></strong></span>
      <% end %>
      <div class="sidebar-section sidebar-user clearfix sidebar-nav-mini-hide">
        <div class="sidebar-user-avatar">

        </div>
        <div class="sidebar-user-name"><%= @school.name %></div>
      </div>
      <ul class="sidebar-nav">
        <li>
          <%= link_to "#" do  %>
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            &nbsp;<span class="sidebar-nav-mini-hide lion"><%= t "dashboard" %></span>
          <% end %>
        </li>
        <li>
          <a href="#" class="sidebar-nav-menu hasmi">
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="fa fa-user"></i>
            &nbsp;<span class="sidebar-nav-mini-hide lion"><%= t "user" %></span></a>
          <ul>
            <li>
              <%= link_to teachers_users_path do %>
                <i class="fa fa-users" aria-hidden="true"></i>
                &nbsp;<span class="sidebar-nav-mini-hide lion lion loulight"><%= t ".all_member" %></span>
              <% end %>
            </li>
          </ul>
        </li>
        <li>
          <a href="javascript:void(0)" class="sidebar-nav-menu hasmi">
            <i class="fa fa-angle-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="fa fa-columns"></i>
            &nbsp;<span class="sidebar-nav-mini-hide lion"><%= t "majors" %></span></a>
          <ul>
            <li>
              <%= link_to teachers_majors_path do %>
                <i class="fa fa-columns" aria-hidden="true"></i>
                &nbsp;<span class="sidebar-nav-mini-hide lion lion loulight"><%= t "all_major" %></span>
              <% end %>
            </li>
            <li>
              <%= link_to teachers_targets_path do %>
                <i class="fa fa-edit" aria-hidden="true"></i>
                &nbsp;<span class="sidebar-nav-mini-hide lion lion loulight"><%= t "edit_target" %></span>
              <% end %>
            </li>
          </ul>
        </li>
        <li>
          <%= link_to teachers_file_remarkings_path do %>
            <i class="fa fa-list-alt" aria-hidden="true"></i>
            <span class="sidebar-nav-mini-hide lion"><%= t "remarking" %></span>
          <% end %>
        </li>
      </ul>
    </div>
  </div>
</div>
