<div id="login-ajax" class="animation-fadeIn">
  <div class="login-title text-center color-title-login">
    <h1>
      <i class="fa fa-flash"></i>
      <strong><%= t "app" %></strong><br>
      <small>
        <%= t "please" %>
        <strong><%= t "login" %></strong>
      </small>
    </h1>
  </div>
  <div class="block">
    <%= simple_form_for resource, as: resource_name, url: session_path(resource_name),
      html: {class: "form-horizontal form-bordered form-control-borderless form-login"} do |f| %>

      <% flash.each do |message_type, message| %>
        <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
      <% end %>

      <div class="form-group">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <%= f.email_field :email, autofocus: true, class: "form-control input-lg",
              placeholder: t("email"), id: "login-email" %>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-12">
          <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            <%= f.password_field :password,class: "form-control input-lg",
              placeholder: t("password"), id: "login-password" %>
          </div>
        </div>
      </div>

      <div class="form-group remember-login">
        <div class="row">
          <div class="col-xs-12">
            <div class="col-xs-4">
              <%= f.label :remember_me, class: "checkbox inline remember_me" do %>
                <label class="switch switch-primary" data-toggle="tooltip">
                  <%= f.check_box :remember_me, id: "login-remember-me" if devise_mapping.rememberable? %>
                  <span></span>
                </label>
              <% end %>
            </div>
            <div class="col-xs-8 text-right">
              <%= f.button :submit, t("login"), class: "btn btn-sm btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
    <div class="row">
      <center>
        <%= render "devise/shared/links" %>
      </center>
    </div>
  </div>
</div>
<%= javascript_include_tag "validates/change_pass" %>
