<% if current_user.student? && @results_user.present? %>
  <div class="row">
    <div class="col-md-9">
      <div class="block full">
        <div class="block-title">
          <div class="block-options pull-right">
            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default" data-toggle="tooltip" title="" data-original-title="Settings">
              <i class="fa fa-drivers-license"></i>
            </a>
          </div>
          <h3 class="widget-content-light"><%= t "individual" %> <strong><%= t "result" %></strong></h3>
        </div>
        <div class="dataTables_wrapper form-inline no-footer">
          <table id="example-datatable" class="table table-bordered table-striped table-vcenter dataTable no-footer" role="grid">
            <thead>
              <tr role="row">
                <%= render partial: "subject_user", collection: @results_user, as: :result_user %>
              </tr>
            </thead>
            <tbody>
              <tr role="row">
                <%= render partial: "mark_user", collection: @results_user, as: :result_user %>
              </tr>
            </tbody>
          </table>
          <div class="row">
            <div class="col-md-12">
              <h3><%= t "total" %> <strong class="text-info"><%= @total&.round Settings.round %></strong></h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="widget h-232">
        <div class="widget-extra themed-background-dark">
          <div class="widget-options">
            <div class="btn-group btn-group-xs">
              <i class="fa fa-certificate color-white"></i>
            </div>
          </div>
          <h4 class="widget-content-light text-center"><%= t "rank" %></h4>
        </div>
        <div class="widget-extra-full">
          <br/>
          <h1 class="text-center text-primary"><b><%= @rank.first&.rank.to_i %> / <%= User.all.size %></b></h1>
          <p class="text-center text-warning"><%= t "notice_rank" %></p>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @average_marks.present? %>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="block full">
        <div class="block-title">
          <div class="block-options pull-right">
            <%= link_to departments_path, remote: true, class: "btn btn-alt btn-sm btn-default" do %>
              <i class="fa fa-question"></i>
            <% end %>
          </div>
          <h3 class="widget-content-light"><%= t "statistic" %> <strong><%= t "mark" %></strong></h3>
        </div>
        <div class="row">
          <div class="col-md-2 pull-right">
            <div class="form-group">
              <div class="icon-addon addon-lg">
                <%= select_tag :department, options_from_collection_for_select(@departments, :id, :name), include_blank: true, class: "form-control" %>
                <label for="department" class="fa fa-mortar-board" rel="tooltip"></label>
              </div>
            </div>
          </div>
        </div>
        <div id="chart-average-marks">
          <%= render "chart_average_marks" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @average_results.present? %>
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <div class="block full">
        <div class="block-title">
          <div class="block-options pull-right">
            <a href="javascript:void(0)" class="btn btn-alt btn-sm btn-default">
              <i class="fa fa-bar-chart"></i>
            </a>
          </div>
          <h3 class="widget-content-light"><%= t "statistic" %> <strong><%= t "result" %></strong></h3>
        </div>
        <div id="chart-average-results">
          <%= column_chart @average_results, height: "300px", stacked: true,
            library: {
              title: {text: t("average_results_by_department"), style: {color: "red"}, x: -20},
              yAxis: {allowDecimals: false, title:{text: t("average_mark")}},
              xAxis: {title: {text: t("departments")}}
            }
          %>
        </div>
      </div>
    </div>
  </div>
<% end %>
<div class="modal fade" id="subject-department" role="dialog" tabindex="-1" aria-hidden="true"></div>
<%= javascript_include_tag "statistic_results" %>
