<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag "logo.jpg" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "managers/manager", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "managers/manager", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <div id="page-wrapper">
      <div class="preloader themed-background">
        <h1 class="push-top-bottom text-light text-center"><strong><%= t "admin" %></strong></h1>
      </div>
      <div id="page-container" class="sidebar-partial sidebar-visible-lg sidebar-no-animations">
        <%= render "layouts/admins/sidebar_admin" %>
        <div id="main-container">
          <%= render "layouts/admins/header_admin" %>
          <div id="page-content">
            <div class="row" id="message-flash">
              <% flash.each do |message_type, message| %>
                <div class="alert alert-<%= message_type %>"><%= message %></div>
              <% end %>
            </div>
            <%= yield %>
          </div>
          <%= render "layouts/admins/footer_admin" %>
        </div>
      </div>
    </div>
    <a href="#" id="to-top"><i class="fa fa-angle-double-up"></i></a>
  </body>
</html>
