<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title pull-left m-l-10"><strong><%= t "remarking" %></strong></h4>
      <p class="text-muted">(<%= l @file_remarking.created_at.localtime, format: :short %>)</p>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group input-inline form-custom">
            <div class="input-group">
              <span class="input-group-addon input-addonn-custom"><i class="fa fa-address-book"></i></span>
              <input type="text" name="name" id="name"
                value="<%= @file_remarking.user_name %>"
                class="form-control input-md input-custom"
                placeholder="Name" disabled="disabled">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group input-inline form-custom">
            <div class="input-group">
              <span class="input-group-addon input-addonn-custom">
                <i class="fa fa-institution"></i>
              </span>
              <input type="text" name="name" id="name"
                value="<%= @file_remarking.school_name %>"
                class="form-control input-md input-custom"
                placeholder="Name" disabled="disabled">
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group input-inline form-custom">
            <div class="input-group">
              <span class="input-group-addon input-addonn-custom"><i class="fa fa-id-card"></i></span>
              <input type="text" name="name" id="name"
                value="<%= @file_remarking.user_identification_number %>"
                class="form-control input-md input-custom"
                placeholder="Name" disabled="disabled">
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group input-inline form-custom">
            <div class="input-group">
              <span class="input-group-addon input-addonn-custom">
                <i class="fa fa-birthday-cake"></i>
              </span>
              <input type="text" name="name" id="name"
                value="<%= l @file_remarking.user_birthday, format: :short %>"
                class="form-control input-md input-custom"
                placeholder="Name" disabled="disabled">
            </div>
          </div>
        </div>
      </div>

      <%= render partial: "remarking_detail", collection: @file_remarking.remarkings,
        as: :remarking %>
    </div>
  </div>
</div>
