<li class="active">
  <div class="timeline-icon themed-background-dark themed-border-dark"><i class="fa fa-file-text"></i></div>

  <div class="timeline-time"><small>
    <%= time_ago_in_words file_remarking.created_at %> <%= t "ago" %>
  </small></div>

  <div class="timeline-content">
    <p class="push-bit">
      <%= t "from" %>:
      <strong><%= file_remarking.user_name %></strong>
    </p>

    <p class="push-bit">
      <%= t "to" %>:
      <strong><%= file_remarking.school_name %></strong>
    </p>

    <p class="push-bit">
      <%= t "status" %>:
      <span class="label label-<%= get_satus_remarking file_remarking %>">
        <%= t "status_remarking.#{file_remarking.status}" %>
      </span>
    </p>

    <p class="push-bit">
      <%= link_to file_remarking_path(file_remarking), remote: true,
        class: "btn btn-xs btn-primary" do %>
        <i class="fa fa-file"></i> <%= t "detail_remarking" %>
      <% end %>
    </p>
  </div>
</li>
