<li class="active">
  <div class="timeline-icon themed-background-dark themed-border-dark"><i class="fa fa-file-text"></i></div>

  <div class="timeline-time"><small>
    <%= time_ago_in_words file_remarking.created_at %> <%= t "ago" %>
  </small></div>

  <div class="timeline-content">
    <p class="push-bit">
      <small class="text-muted"><%= t "from" %>:</small>
      <strong><%= file_remarking.user_name %></strong>
    </p>

    <p class="push-bit">
      <small class="text-muted"><%= t "to" %>:</small>
      <strong><%= file_remarking.school_name %></strong>
    </p>

    <% if file_remarking.processed? %>
      <p class="push-bit">
        <small class="text-muted"><%= t "has_change" %>:</small>&ensp;&ensp;
        <% if file_remarking.is_changed? %>
          <i class="fa fa-check fa-2x text-success"></i>
        <% else %>
          <i class="fa fa-times fa-2x text-danger"></i>
        <% end %>
      </p>
    <% end %>

    <p class="push-bit">
      <small class="text-muted"><%= t "status" %>:</small>
      <span class="label label-<%= get_satus_remarking file_remarking %>">
        <%= t "status_remarking.#{file_remarking.status}" %>
      </span>
    </p>

    <p class="push-bit">
      <%= link_to file_remarking_path(file_remarking), remote: true,
        class: "btn btn-xs btn-primary" do %>
        <i class="fa fa-file"></i> <%= t "detail_remarking" %>
      <% end %>
      <% if file_remarking.rejected? %>
        <%= link_to edit_file_remarking_path(file_remarking), remote: true,
          class: "btn btn-xs btn-success" do %>
          <i class="fa fa-edit"></i> <%= t "update_remarking" %>
        <% end %>
      <% end %>
    </p>

  </div>
</li>
