<div class="modal-dialog modal-md">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title pull-left m-l-10"><strong><%= t "edit_results" %></strong></h4>
    </div>
    <div class="modal-body">
      <div class="row" id="remarking-list">
        <%= simple_form_for [:teachers, @file_remarking], method: :patch, remote: true do |f| %>
          <%= f.hidden_field :is_current, value: false %>
          <%= f.hidden_field :status, value: :processed %>
          <%= hidden_field_tag :role, nil %>
          <div class="col-md-12">
            <div class="block">
              <div class="block-title">
                <div class="block-options pull-right">
                  <label class="switch switch-info">
                    <%= check_box_tag :change_register %><span class="m-t-4"></span>
                  </label>
                </div>
                <h3>
                  <%= t "change_result" %>
                </h3>
              </div>
              <div class="row" id="not-change">
                <p class="text-center text-danger"><i class="fa fa-times"></i> <%= t "not_change" %></p>
              </div>
              <div class="row display-none" id="change-result">
                <div class="col-md-12">
                  <%= render partial: "remarking", collection: @remarkings, as: :remarking,
                    locals: {f: f} %>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <center>
              <%= f.submit t("submit"), type: :button, class: "btn btn-primary btn-md",
                id: "btn-change-result" %>
            </center>
          </div>
          <%= f.button :submit, class: "display-none", id: "btn-submit-form" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%= hidden_field_tag :results_ids, @remarkings.map {|x| x.result.id} %>
<%= hidden_field_tag :marks, @remarkings.map {|x| x.result.mark} %>
