<% if @file_remarkings.present? %>
  <table role="grid" class="table table-bordered table-striped table-vcenter dataTable no-footer background-white">
    <thead>
      <tr role="row">
        <th class="text-center"><%= t "user" %></th>
        <th class="text-center"><%= t "identification" %></th>
        <th class="text-center"><%= t "created_at" %></th>
        <th class="text-center"><%= t "status" %></th>
        <th class="text-center"><%= t "action" %></th>
      </tr>
    </thead>
    <tbody>
      <%= render @file_remarkings %>
    </tbody>
  </table>
  <div class="row text-center pag">
    <%= paginate @file_remarkings, remote: true %>
  </div>
<% else %>
  <p class="text-danger text-center">
    <i><%= t "not_file_remarkings" %></i>
  </p>
<% end %>
