<% if @results.present? %>
  <table role="grid" class="table table-vcenter table-striped">
    <thead>
      <tr role="row">
        <th class="text-center w-100">
          <%= t "identification_number" %>
        </th>
        <th class="text-center"><%= t "name" %></th>
        <th class="text-center"></th>
        <th class="text-center"></th>
        <th class="text-center"></th>
        <th class="text-center"></th>
        <th class="text-center"></th>
        <th class="text-center"></th>
        <th class="text-center"><%= t "action" %></th>
      </tr>
    </thead>
    <tbody id="body-table-school">
      <%= render @results %>
    </tbody>
  </table>
  <div class="row text-center pag">
    <%= paginate @results, remote: true %>
  </div>
<% else %>
  <p class="text-danger text-center">
    <i><%= t "not_results" %></i>
  </p>
<% end %>
