<%= stylesheet_link_tag "login" %>
<div id="modal-login" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div id="login-ajax" class="display-none">
        <div class="login-title text-center">
          <i class="close-form-login" data-dismiss="modal">&times;</i>
          <h1>
            <i class="gi gi-flash"></i>
            <strong><%= t "app" %></strong><br>
            <small>
              <%= t "please" %>
              <strong><%= t "login" %></strong>
              <%= t "or" %> <strong><%= t "register" %></strong>
            </small>
          </h1>
        </div>
        <div class="block">
          <div class="loading-ajax"></div>
          <div class="form-horizontal form-bordered form-control-borderless">
            <%= render "devise_custom/form_login" %>
          </div>
          <div class="form-horizontal form-bordered form-control-borderless display-none form-register">
            <%= render "devise_custom/form_registration" %>
          </div>
          <div class="form-horizontal form-bordered form-control-borderless display-none">
            <%= render "devise_custom/form_forgot_password" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
