<div class="topbar-main">
  <div class="container-fluid" id="tilte-bar">
    <div class="logo">
      <a href="index.html" class="logo">
        <%= image_tag "logo.png", height: 35 %>
      </a>
    </div>

    <ul class="nav navbar-nav navbar-right site-nav">
      <%= render "shared/language_local" %>
      <% if user_signed_in? %>
        <li class="dropdown m-r-10">
          <%= render "notifications/notifications" %>
        </li>

        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <%= image_tag current_user.avatar.url, class: "img-circle", size: 40 %>
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu min-w-200">
            <div class="arrow-up-border"></div>
            <div class="arrow-up"></div>
            <% if current_user.teacher? %>
              <li>
                <%= link_to teachers_users_path do %>
                  <%= t("teacher") %><i class="fa fa-users pull-right"></i>
                <% end %>
              </li>
            <% end %>
            <% if current_user.admin? %>
              <li>
                <%= link_to admins_users_path(role: :student) do %>
                  <%= t("admin") %><i class="fa fa-user-secret pull-right"></i>
                <% end %>
              </li>
            <% end %>
            <li>
              <%= link_to user_path(current_user) do %>
                <%= t("profile") %><i class="fa fa-address-book pull-right"></i>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_url(current_user) do %>
                <%= t("change_pass") %><i class="fa fa-pencil-square-o pull-right"></i>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <%= t("logout") %><i class="fa fa-sign-out pull-right"></i>
              <% end %>
            </li>
          </ul>
        </li>
      <% else %>
        <li class="w-120">
          <%= link_to new_user_session_path, class: "btn-login-user w-120" do %>
            <i class="fa fa-sign-in"></i> <small class="font-size-16"><%= t "login" %></small>
          <% end %>
        </li>
      <% end %>
    </ul>
    <div class="clearfix"></div>
  </div>
  <div class="navbar-custom active">
    <div class="container-fluid">
      <div id="navigation" class="active">
        <ul class="navigation-menu">
          <% if user_signed_in? %>
            <li class="has-submenu">
              <%= link_to root_path do %>
                <i class="glyphicon glyphicon-home"></i> <%= t "home" %>
              <% end %>
            </li>

            <li class="has-submenu">
              <%= link_to notes_path do %>
              <i class="  fa fa-calendar"></i> <%= t "competition_calendar" %>
            <% end %>
            </li>

            <li class="has-submenu">
              <a href="#"><i class="fa fa-bar-chart"></i> <%= t "statistics_resuls" %></a>
              <ul class="submenu">
                <li class="menu-custom"><%= link_to statistic_results_path do %>
                  <%= t "by_mark" %>
                <% end %></li>
                <li class="menu-custom"><%= link_to statistic_results_by_department_path do %>
                  <%= t "by_depart" %>
                <% end %></li>
              </ul>
            </li>

            <li class="has-submenu">
              <%= link_to majors_path do %>
                <i class="fa fa-archive"></i>
                <%= t "majors" %>
              <% end %>
            </li>

            <% if current_user.student? %>
              <li class="has-submenu">
                <a href="#"><i class="gi gi-lightbulb"></i> <%= t "registers" %></a>
                <ul class="submenu">
                  <li class="menu-custom">
                    <%= link_to user_suggestions_path(current_user) do %>
                      <%= t "suggestions" %>
                    <% end %>
                  </li>

                  <li class="menu-custom">
                    <%= link_to registers_path do %>
                      <%= t "change_aspiration" %>
                    <% end %>
                  </li>
                </ul>
              </li>

              <li class="has-submenu">
                <%= link_to file_remarkings_path do %>
                  <i class="fa fa-reply"></i>
                  <%= t "remarking" %>
                <% end %>
              </li>
            <% end %>
          <% else %>
            <h2 class="text-center color-white"><strong><%= t "title_main" %></strong></h2>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>
