<nav class="navbar navbar-user m-0">
  <div class="container-fluid">
    <ul class="nav navbar-nav navbar-left">
      <li class="active">
        <%= link_to root_path do %>
          <span class="glyphicon glyphicon-home"></span> Home
        <% end %>
      </li>
      <li>
        <%= link_to "#" do %>
          <span class="glyphicon glyphicon-search"></span> Search
        <% end %>
      </li>

      <li>
        <%= link_to "http://www.udn.vn/" do %>
          <span class="glyphicon glyphicon-question-sign"></span> Help
        <% end %>
      </li>
      <li>
        <%= link_to "http://www.udn.vn/" do %>
          <span class="glyphicon glyphicon-book"></span> Guides
       <% end %>
      </li>
      <li>
        <%= link_to "http://www.udn.vn/" do %>
          <span class="glyphicon"></span> Library Information
        <% end %>
      </li>
    </ul>
    <ul class="nav navbar-nav navbar-right site-nav">
      <% if user_signed_in? %>
          <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> User
          <span class="caret"></span></a>
          <ul class="dropdown-menu min-w-180">
            <li>
              <%= link_to user_path(current_user) do %>
                <%= t("profile") %><i class="fa fa-address-book pull-right"></i>
              <% end %>
            </li>
            <li>
              <%= link_to edit_user_registration_url(current_user) do %>
                <%= t("change_pass") %><i class="fa fa-pencil-square-o pull-right"></i>
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete do %>
                <%= t("logout") %><i class="fa fa-sign-out pull-right"></i>
              <% end %>
            </li>
          </ul>
      <% else %>
        <li>
          <%= link_to "javascript:void(0)", class: "btn-login-user" do %>
            <i class="fa fa-sign-in"></i> <%= t("login") %>
          <% end %>
        </li>
      <% end %>
      <%= render "shared/language_local" %>
    </ul>
  </div>
</nav>
<%= render "devise_custom/login" %>
<%= javascript_include_tag "login" %>
