<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= favicon_link_tag "logo.jpg" %>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
  </head>

  <body>
    <header id="topnav">
      <%= render "layouts/user_header" %>
    </header>
    <div id="main" class="p-0">
      <div id="login-background" class="display-none"></div>
      <div id="content-body-custom" class="p-15">
        <section id="home" class="header" data-scroll-index="0" data-stellar-background-ratio="0.8">
          <div id="page-content-custom">
            <div class="row"">
              <center id="message-flash">
                <div class="col-md-12">
                  <% flash.each do |message_type, message| %>
                    <%= content_tag :div, message, class: "alert alert-#{message_type}" %>
                  <% end %>
                </div>
              </center>
            </div>
            <%= yield %>
            <a href="#" id="to-top" style="display: block;"><i class="fa fa-angle-double-up"></i></a>
          </div>
        </section>
      </div>
    </div>
  </body>

  <footer class="site-footer padding-10-0 footer-custom">
    <%= render "layouts/user_footer" %>
  </footer>
</html>
